html, body {
    height: 100%;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f6fa;
    color: #333;
    display: flex;
    flex-direction: column;
}

header {
    background: #004aad;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
    flex:1;
}

h2 {
    margin-top: 40px;
    color: #004aad;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 10px;
}

input, select, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    background-color: #004aad;
    color: white;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background-color: #0062ff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

#resultado table {
    margin-top: 25px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #004aad;
    color: white;
    margin-top: 50px;
}

#gerarQDG{
    margin-top: 1em;
}